
body {
  background-color: #050916;
  background-image: url('https://3.bp.blogspot.com/-Xzq2xzvUPuY/V7Edo2xwLQI/AAAAAAAAIkc/TwOUcHAbNf8WPX1lQjkxOwXk-TtHVeM9gCLcB/s1600/st1woods.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: firebrick;
  font-family: "Prociono", serif;
}
// index tiles
.question-card {
  border-color: firebrick;
  border-style: groove;
  border-width: 5px;
  padding: 6px;
  margin: 8px;
}
.answer-card {
  border-color: firebrick;
  border-style: dotted;
  border-width: 2px;
  padding: 6px;
  margin: 8px;
  font-size: 20px;
}
.notes {
  font-weight: bold;
  color: red;
}
.smallimg {
  max-width: 400px;
  max-height: 300px;
}
.largeimg {
  max-width: 900px;
  max-height: 600px;
}
.helperText {
  font-family: 'Lato', sans-serif;
  font-size: 28px;
  color: seashell;
}
div {
  div {
    font-size: 18px;
  }
}

// menu & forms
.menu {
  font-size: 2em;
  color: firebrick;
}
.field {
  border-radius: 8px;
  padding: 8px;
  margin: 8px;
}
hr {
  width: 80%;
  height: 3px;
}


.flexed {
  display: flex;
  flex-wrap: wrap;
}
.spaced {
  display: flex;
  justify-content: space-between;
}

// buttons
button {
  border-radius: 20px;
  padding: 8px;
  color: black;
  background-color: red;
  font-weight: bolder;
  font-size: 20px;
  margin: 15px;
}
.gone {
  background-color: steelblue;
}
.upsidedown {
  background-color: black;
  color: seashell;
}
