.menu {
  font-size: 2em;
  color: firebrick;
}

body {
  background-color: #050916;
  color: firebrick;
  font-family: fantasy;
}

.question-card {
  border-color: firebrick;
  border-style: groove;
  border-width: 5px;
  padding: 6px;
  margin: 8px;
}
.notes {
  font-weight: bold;
  color: red;
}

.field {
  border-radius: 8px;
  padding: 8px;
  margin: 8px;
}

.flexed {
  display: flex;
  flex-wrap: wrap;
}
.stretched {
  align-items: stretch;
}

button {
  border-radius: 20px;
  padding: 8px;
  background-color: red;
  font-family: fantasy;
  font-weight: bolder;
  font-size: 24px;
  margin: 20px;
}
.gone {
  background-color: slateblue;
}
.upsidedown {
  background-color: black;
  color: seashell;
}
