.menu {
  font-size: 2em;
  color: firebrick;
}

body {
  background-color: #050916;
  color: firebrick;
  font-family: fantasy;
}

.question-card {
  border-color: firebrick;
  border-style: groove;
  border-width: 5px;
  padding: 6px;
  margin: 8px;
}
.answer-card {
  border-color: firebrick;
  border-style: dotted;
  border-width: 2px;
  padding: 6px;
  margin: 8px;
  font-size: 20px;
}
.notes {
  font-weight: bold;
  color: red;
}
.smallimg {
  max-width: 400px;
  max-height: 300px;
}
.largeimg {
  max-width: 700px;
  max-height: 450px;
}

.field {
  border-radius: 8px;
  padding: 8px;
  margin: 8px;
}

.flexed {
  display: flex;
  flex-wrap: wrap;
}
.stretched {
  align-items: stretch;
}

button {
  border-radius: 20px;
  padding: 8px;
  color: black;
  background-color: red;
  font-family: fantasy;
  font-weight: bolder;
  font-size: 20px;
  margin: 15px;
}
.gone {
  background-color: steelblue;
}
.upsidedown {
  background-color: black;
  color: seashell;
}
 hr {
   width: 80%;
   height: 3px;
 }
