.menu {
  font-size: 2em;
  color: firebrick;
}

body {
  background-color: #050016;
  background-image: url('/assets/images/night_woods.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  color: firebrick;
  font-family: fantasy;
}

.question-item {
  border-color: firebrick;
  border-style: groove;
  border-width: 4px;
  padding: 8px;
  margin: 10px;
}
.notes {
  font-weight: bold;
  color: red;
}

.field {
  border-radius: 8px;
  padding: 8px;
  margin: 8px;
}

.flexed {
  display: flex;
  flex-wrap: wrap;
}
.spaced {
  align-items: stretch;
}

button {
  border-radius: 20px;
  padding: 8px;
  background-color: red;
  font-family: fantasy;
  font-weight: bolder;
  font-size: 24px;
  margin: 20px;
}
.gone {
  background-color: slateblue;
}
.upsidedown {
  background-color: black;
  color: seashell;
}
