<h2><div class=flexed>This site was built as a learning project using Ember CLI and some Flexbox properties in CSS3.
Check out the link to Epicodus to learn more about Ember CLI.</div></h2>

<div><small>Made by <a href="http://www.alexanderjacks.com">Alexander Jacks</a></small></div>
