<div class="container">
  <div>
    {{#link-to 'index'}}
    <h1 class="page-title">Answer My Question</h1>
    {{!-- <img src="images/a_my_q_logo.png"> --}}
    {{/link-to}}
    <div class="menu">
      {{#link-to 'index'}}
      Home
      {{/link-to}}
      {{#link-to 'about'}}
      About
      {{/link-to}}
      <a href= 'https://www.learnhowtoprogram.com/javascript'>
      Epicodus
      </a>
    </div>
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>
