{{new-question saveQuestion="saveQuestion"}}

<div class="flexed">
  {{#each model as |question|}}
     <div class="question-card">
      {{question-tile question=question destroyQuestion="destroyQuestion" update="update"}}
     </div>
  {{/each}}
</div>

<div class="flexed">
  {{#each model as |answer|}}
     <div class="question-card">
      "{{answer.main}}" ~ {{answer.author}}
     </div>
  {{/each}}
</div>
