<div>
  {{#each favoriteQuestions.questions as |question|}}
    {{question}}
  {{/each}}
</div>
{{new-question saveQuestion="saveQuestion"}}

<div class="flexed">
  {{#each model.questions as |question|}}
     <div class="question-card">
      {{question-tile question=question destroyQuestion="destroyQuestion" update="update"}}
     </div>
  {{/each}}
</div>
