<div class="spaced">
  {{new-question saveQuestion="saveQuestion"}}

  <div class="flexed">
    {{#each model.questions as |question|}}
       <div class="card-big">
        {{question-tile question=question destroyQuestion="destroyQuestion" update="update"}}
       </div>
    {{/each}}
  </div>
  <div class="card-big">
    {{favorite-list question=question}}
  </div>
</div>
